/* App */
#app {
   display: flex;
   flex-direction: column;
   min-width: 600px;
}

body {
   margin: 0px;
}

/* HEADER */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: calc(0.5vw + 0.5rem);
}

.menuButtons,
.logo,
.searchbar,
.userprofile {
   flex: 1;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   align-items: center;
}

.searchbar {
   align-items: center;
   justify-content: center;
}

.homeButton {
   height: 30px;
}

.menuButtons button {
   border: none;
   background-color: transparent;
   font-size: calc(0.5vw + 1rem);
   cursor: pointer;
}

.logo {
   cursor: pointer;
   margin: 4vw;
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logIn {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: end;
   margin-right: 4vw;
   cursor: pointer;
}

.logIn img {
   width: 40px;
   height: 40px;
}

.logIn p {
   margin: 0px;
}

/* HOMEVIEW */

.auctionHeader {
   display: flex;
   flex-direction: column;
   background-color: rgb(146, 143, 143);
   align-items: center;
   font-size: calc(0.5vw + 1rem);
}

.auctionHeader img {
   width: 60%;
}

.auctionCounting {
   font-size: calc(1vw + 1rem);
   text-align: center;
}

.auctionImgContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info {
   display: flex;
   width: 50%;
   justify-content: space-between;
}

.auctionImgContainer div {
   margin-top: 0px;
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
}

.newArtContainer {
   display: flex;
   justify-content: center;
   text-align: center;
   padding: 2vw;
}

.newArt {
   display: grid;
   grid-template-columns: repeat(auto-fit, 350px);
   width: 80%;
   justify-content: center;
   gap: 1vw;
}

.newArtContainer img {
   height: 250px;
   padding: 0.5vw;
}

h2 {
   text-align: center;
   font-size: calc(1vw + 1rem);
}

.artContainer {
   border: 2px solid black;
}

/* LOGIN VIEW */

/* .logInContainer {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: rgb(210, 209, 209);
   padding: 2vw;
}
.logInContainer div {
   display: flex;
   align-items: center;
   flex-direction: column;
   min-width: 20%;
   padding: 1vw;
   border-radius: 1vw;
   background-color: rgb(240, 240, 240);
}

.logInImage {
   width: 300px;
}

.link {
   text-decoration: underline;
   font-size: calc(0.5vw + 0.6rem);
   cursor: pointer;
}

.placeholderText {
   font-size: calc(0.5vw + 0.5rem);
}

input, button {
   font-size: calc(0.5vw + 0.5rem)
}  
 */

/*PRODUCTPAGE*/

.smallFont {
   font-size: calc(0.5vw + 0.5rem);
}

.mediumFont {
   font-size: calc(0.7vw + 0.7rem);
}

.largeFont {
   font-size: calc(1vw + 1rem);
}

.link {
   text-decoration: underline;
}

.productPageContainer {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
}

.infoHeader {
   display: flex;
   justify-content: space-between;
   padding: 0.5rem;
   width: 90%;
}

.productInfoContainer div {
   display: flex;
   gap: 1rem;
}

.productInfoContainer.top {
   flex: 1;
}

.productInfoContainer.top p {

}

.userInfo.top {
   display: flex;
   align-items: center;
   flex: 2;
   gap: 1.5rem;
}

.userInfo.top p {

}

.imageContainer.productPage {
   display: flex;
   flex-direction: column;
   width: 80%;
}

.bigImage.productPage {
   border: 3px solid yellow;
}

.bigImage.productPage img {
   height: 35vw;
}

.smallImages.productPage {
   display: flex;
   border: 3px solid orange;
   gap: 5px;
}

.smallImages.productPage img {
   height: 20vw;
}

.productInfoContainer.bottom {

}

.productInfo.bottom {
   
}

.priceAndContact {

}