/* App */

* {
   box-sizing: border-box;
}

.backButton {
   width: 200px;
   background-color: transparent;
   border: none;
   font-size: calc(0.9rem + 0.3vw);
   margin-left: 2rem;
   cursor: pointer;
}

#app {
   display: flex;
   flex-direction: column;
   min-width: 600px;
}

body {
   margin: 0px;
}

/* HEADER */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: calc(0.5vw + 0.5rem);
}

.menuButtons,
.logo,
.searchbar,
.userprofile {
   flex: 1;
   display: flex;
   justify-content: space-between;
   gap: 1rem;
   align-items: center;
}

.searchbar {
   align-items: center;
   justify-content: center;
}

.homeButton {
   height: 30px;
   cursor: pointer;
}

.menuButtons button {
   border: none;
   background-color: transparent;
   font-size: calc(0.5vw + 1rem);
   cursor: pointer;
}

.logo {
   cursor: pointer;
   margin: 4vw;
   font-size: 25px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logIn {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: end;
   margin-right: 4vw;
   cursor: pointer;
}

.logIn img {
   width: 40px;
   height: 40px;
}

.logIn p {
   margin: 0px;
}

/* HOMEVIEW */

.auctionHeader {
   display: flex;
   flex-direction: column;
   background-color: rgb(146, 143, 143);
   align-items: center;
   font-size: calc(0.5vw + 1rem);
}

.auctionHeader img {
   width: 60%;
   border-radius: 10px;
   box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.439);
}

.auctionCounting {
   font-size: calc(1vw + 1rem);
   text-align: center;
}

.auctionImgContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info {
   display: flex;
   width: 50%;
   justify-content: space-between;
}

.auctionImgContainer div {
   margin-top: 0px;
   display: flex;
   align-items: center;
   gap: 10px;
   justify-content: center;
   
}

.newArtContainer {
   display: flex;
   text-align: center;
   padding: 2vw;
}

.newArt {
   display: grid;
   grid-template-columns: repeat(auto-fit, 250px);
   width: 100%;
   justify-content: center;
   gap: 4vw;
}

.newArtContainer img {
   width: 80%;
   padding: 0.5vw;
   align-self: center;
   margin-top: 1rem;
   flex: 1;
   object-fit: contain;
}

h2 {
   text-align: center;
   font-size: calc(1vw + 1rem);
}

.artContainer-homeView {
   display: flex;
   border: 3px solid black;
   flex-direction: column;
   box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.128);
   border-radius: 15px;
}

/*PRODUCTVIEW*/


.smallFont {
   font-size: calc(0.5vw + 0.5rem);
}

.mediumFont {
   font-size: calc(0.7vw + 0.7rem);
}

.largeFont {
   font-size: calc(1vw + 1rem);
}

.link {
   text-decoration: underline;
}

.productPageContainer {
   display: flex;
   flex-direction: column;
   align-items: start;
   width: 80%;
}

.infoHeader {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.productInfoContainer div {
   display: flex;
   gap: 1rem;
}

.userInfo.top {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.imageContainer.productPage {
   display: flex;
   width: 80%;
   gap: 1rem;
}

.smallImages.productPage {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr;
   grid-template-rows: 190px 190px 190px;
}

.smallImages.productPage img{
   height: 188px;
   border: 6px solid rgb(0, 0, 0);
   padding: 1rem;
}

.bigImage.productPage img{
   height: 600px;
   justify-self: center;
   align-self: center;
   padding: 2rem;
   border: 15px solid rgb(0, 0, 0);
}

.bigImage.productPage {
   
}

.productInfoContainer.bottom {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.productInfo.bottom {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 90%;
}

.priceAndContact {
   display: flex;
   flex-direction: column;
   justify-content: end;
}

.category {
   align-self: center;
}