/* App */

* {
   box-sizing: border-box;
}

.backButton {
   width: 200px;
   background-color: transparent;
   border: none;
   font-size: calc(0.9rem + 0.5vw);
   margin-left: 9rem;
   cursor: pointer;
   margin-bottom: 0px;
}

#app {
   display: flex;
   flex-direction: column;
   min-width: 600px;
}

body {
   margin: 0px;
}

/* HEADER */
.header {
   display: grid;
   grid-template-columns: 2fr 1fr 1fr 2fr;
   align-items: center;
   font-size: calc(0.5vw + 0.5rem);
}

.menuButtons,
.logo,
.searchbar,
.userprofile {
   flex: 1;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.searchbar {
   justify-content: center;
}

.homeButton {
   height: 30px;
   cursor: pointer;
}

.menuButtons button {
   display:flex;
   border: none;
   background-color: transparent;
   font-size: calc(0.5vw + 1rem);
   cursor: pointer;
}

.logo img {
   cursor: pointer;
   width: 10vw;
   margin: 1vw;
   margin-left: 7vw;
   font-size: calc(1rem + 1vw);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logIn {
   display: flex;
   flex: 1;
   flex-direction: column;
   align-items: end;
   margin-right: 7vw;
   cursor: pointer;
}

.logIn img {
   width: 60px
}

.logIn p {
   margin: 0px;
}






/* HOMEVIEW */

.auctionHeader {
   display: flex;
   flex-direction: column;
   background-color: #dad1c2;
   align-items: center;
   font-size: calc(0.5vw + 1rem);
   padding: 3rem;
}

.auctionHeader img {
   width: 80%;
   border-radius: 10px;
   box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.439);
}

.auctionCounting {
   font-size: calc(1vw + 1rem);
   text-align: center;
}

.auctionImgContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.info {
   display: flex;
   width: 90%;
   justify-content: space-between;
}

.auctionImgContainer div {
   margin-top: 0px;
   display: flex;
   align-items: center;
   gap: 15px;
   justify-content: center;
   margin-bottom: 5rem;
   width: 60%;
}

.newArtContainer {
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 2vw;
}

.newArt {
   display: grid;
   grid-template-columns: repeat(auto-fit, 350px);
   width: 80%;
   justify-content: center;
   gap: 4vw;
}

.newArtContainer img {
   width: 80%;
   padding: 0.5vw;
   align-self: center;
   margin-top: 1rem;
   flex: 1;
   object-fit: contain;
}

h2 {
   text-align: center;
   font-size: calc(1vw + 1.5rem);
}

.artContainer-homeView {
   display: flex;
   border: 3px solid black;
   flex-direction: column;
   box-shadow: 4px 3px 10px 0px rgba(0, 0, 0, 0.128);
   border-radius: 15px;
}